{% extends "layout.html" %}


{% block body %}

    <div id="form_back">
        <h1>LOGIN</h1>
        <div id="form_front">
            <form action="/register" id="login" method="post" autocomplete="off">
                <label for="nome">Username</label>
                <input type="text" name="user" id="user" required placeholder="Username"><br><br>
                <label for="senha" id="senha">Password</label>
                <input type="password" name="password" id="password" required placeholder="Password"><br><br>
                <label for="senha" id="senha">Confirm Password</label>
                <input type="password" name="confirmation" id="password" required placeholder="Confirm Password"><br><br>
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>REGISTER

                </button>
            </form>
        </div>
    </div>

{% endblock %}